:root {
  --sixty: #e4c7b7;
  --thirty: #522157;
  --ten: #c2649a;
}

* {
  font-family: "Inconsolata", monospace;
  color: var(--thirty);
  box-sizing: border-box;
}

body {
  background-color: var(--sixty);
  margin: 0;
  padding-top: 70px;
  /* overflow: hidden; Hide scroll bars */
}

.center {
  margin: auto;
  width: 80%;
  padding: 10px;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--thirty);
}

ul.topnav li {
  float: left;
}

ul.topnav li a,
ul.topnav .navbtn {
  display: block;
  color: var(--sixty);
  text-align: center;
  padding: 20px 12px;
  text-decoration: none;
  border: none;
  font-size: 18px;
  font-weight: bold;
}

ul.topnav .navbtn:hover,
ul.topnav li a:hover:not(.active) {
  background-color: var(--ten);
  color: var(--thirty);
}

ul.topnav li a.active {
  background-color: var(--sixty);
  color: var(--thirty);
}

.navbtn {
  background-color: transparent;
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  body {
    padding-top: 300px;
  }
}

@media screen and (max-width: 600px) {
  ul.topnav li.right,
  ul.topnav li {
    float: none;
  }
}

button.primary {
  background-color: var(--ten);
  color: var(--thirty);
  border-style: none;
  margin: 20px;
  padding: 20px;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 2px 2px black;
}

button.primary:hover {
  /* transform: translate(-1px, -1px);
  box-shadow: 3px 3px black; */
  opacity: 0.8;
}

button.primary:active {
  transform: translate(2px, 2px);
  box-shadow: none;
}

button.secondary {
  background: none;
  border: none;
  font-size: 14px;
  font-weight: bold;
}

/* Style inputs */
input[type="text"],
input[type="email"],
input[type="password"],
select {
  width: 100%;
  padding: 20px 20px;
  margin-bottom: 30px;
  display: inline-block;
  border-style: none;
  box-shadow: 2px 2px black;
  box-sizing: border-box;
  font-size: 24px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
select {
  outline-style: solid;
  outline-color: var(--thirty);
  outline-width: 2px;
}

label {
  width: 100%;
  padding-bottom: 1px;
  margin-bottom: 5px;
  display: inline-block;
  box-sizing: border-box;
}

/* .card-stack {
  margin-bottom: 30px;
} */

.card {
  border-style: solid;
  border-color: var(--thirty);
  background-color: white;
  padding: 30px;
  margin-bottom: 20px;
}
