:root {
  --sixty: #e4c7b7;
  --thirty: #522157;
  --ten: #c2649a;
}

* {
  font-family: "Inconsolata", monospace;
  color: var(--thirty);
  box-sizing: border-box;
}

body {
  background-color: var(--sixty);
  margin: 0;
  padding-top: 70px;
  /* overflow: hidden; Hide scroll bars */
}

.center {
  margin: auto;
  width: 80%;
  padding: 10px;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--thirty);
}

ul.topnav li {
  float: left;
}

ul.topnav li a,
ul.topnav .navbtn {
  display: block;
  color: var(--sixty);
  text-align: center;
  padding: 20px 12px;
  text-decoration: none;
  border: none;
  font-size: 18px;
  font-weight: bold;
}

ul.topnav .navbtn:hover,
ul.topnav li a:hover:not(.active) {
  background-color: var(--ten);
  color: var(--thirty);
}

ul.topnav li a.active {
  background-color: var(--sixty);
  color: var(--thirty);
}

.navbtn {
  background-color: transparent;
  cursor: pointer;
}

/* @media screen and (max-width: 600px) {
  body {
    padding-top: 300px;
  }
} */

/* @media screen and (max-width: 600px) {
  ul.topnav li {
    float: none;
  }
} */

button.primary {
  background-color: var(--ten);
  color: var(--thirty);
  border-style: none;
  margin: 10px;
  padding: 20px;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0.15rem 0.15rem black;
  cursor: pointer;
}

button.primary:hover {
  /* transform: translate(-1px, -1px);
  box-shadow: 3px 3px black; */
  opacity: 0.8;
}

button.primary:active {
  transform: translate(0.15rem, 0.15rem);
  box-shadow: none;
}

button.secondary {
  background: none;
  border: none;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

/* Style inputs */
.styled-text-field,
input[type="email"],
input[type="password"],
select {
  width: 100%;
  padding: 20px 20px;
  margin-bottom: 30px;
  display: inline-block;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  box-shadow: 0.15rem 0.15rem black;
  box-sizing: border-box;
  font-size: 24px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
select {
  outline-style: solid;
  outline-color: var(--thirty);
  outline-width: 2px;
}

label {
  width: 100%;
  padding-bottom: 1px;
  margin-bottom: 5px;
  display: inline-block;
  box-sizing: border-box;
}

/* .card-stack {
  margin-bottom: 30px;
} */

.card-grid-container {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  background-color: white;
  margin: 10px;
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 1em;
  box-shadow: 5px 5px black;
}

.card-grid-container > div {
  display: inline-block;
}

.card-date {
  text-align: center;
  border-right-style: solid;
  padding: 5px;
  text-align: center;
  grid-row-start: 1;
  grid-row-end: 3;
}

.card-details {
  grid-column: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  padding: 2em;
}

.card-details .label {
  font-size: 1em;
}

.card-reschedule-btn,
.card-cancel-btn {
  grid-column: 3;
  text-align: right;
  margin: 1em;
}

.details .card-btn-group {
  width: 20%;
  float: right;
  justify-content: center;
}

h1 {
  margin: 0;
  padding-top: 0;
}

.details h5,
.details p {
  margin: 0;
  padding: 0em 0.5em 0.5em 0.5em;
}

@media screen and (max-width: 600px) {
  .card-date,
  .card-details,
  .card-reschedule-btn {
    grid-column: 1;
  }
  .card-date {
    grid-row-start: 1;
    grid-row-end: 3;
    border-right: none;
    margin-top: auto;
    margin-bottom: auto;
  }
  .card-details {
    grid-row: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    border-top: solid;
    padding: 1em 0 0em;
  }
  .card-reschedule-btn,
  .card-cancel-btn {
    grid-column: 2;
    margin: auto;
    padding: auto;
  }
  .card-reschedule-btn {
    grid-row: 1;
  }
  .card-cancel-btn {
    grid-row: 2;
  }
}
